:root{
  /* background-color: red; */
  --color: blue;
}

*{
  box-sizing: border-box;
}

body{
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  position: relative;
}
.nav1{
  border-bottom: 1px solid gray;
  flex-wrap: wrap;
  position: fixed;
  background-color: white;
  top: 0px;
  z-index: 999;
  width: 100%;

}
/* .span{
  background-color: red; */
  /* display: flex;
  flex-direction: column;
  gap: 30px;
  */

.navI{
  display:flex;
  gap: 10px;
  cursor: pointer;
  margin-left: 20px;
  
}
.navI p:hover{
  background-color: #B0B0B0;
  padding: 5px 10px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
}
.P{
  font-size: 26px;
  color: #101010;
  font-weight: 600;
}
.navI p:active{
  background-color: green ;
}
.navIi select{
  border: none;
  padding: 10px;
  color: #101010;
  font-size: 14px;
  font-weight: 500;
  
}
  
.nav2{
  display: flex;
  align-items: center;
  margin-left: 25px;
  gap: 25px;
  
}
.navBars{
  display: flex;
  align-items: center;
  gap: 350px;
  margin-top: -30px;
}
.navB{
  display: flex;
  align-items: center;
  gap:15px;

}
.navb button{
  border-color: #101010;
  padding: 12px 20px;
  border-radius: 25px;
  background-color: white;
  border-width: 1px;
  color: #101010;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 1s;
}
.navb button:hover{
  background-color: #B0B0B0;
}
.navL button{
  background-color: #101010;
  padding: 15px 40px;
  color: white;
  border-radius: 50px;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.5s ease;
}
.navL button:hover{
  opacity: 0.7;
}
.sectionI{
  text-align: center;
  margin-top: 99px;
 
}
.paragraph{
  color: #101010;
  font-size: clamp(3rem, 7vw, 9rem);
  font-family:'Times New Roman', Times, serif;
  margin-top: -1px;
}
.paragraphi{
  margin-top: -50px;
  font-size: 20px;
}
.sectionI button{
  background-color: #101010;
  padding: 15px 40px;
  color: white;
  border-radius: 50px;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.5s;
}
.sectionI button:hover{
  opacity: 0.7;
}
.imgD{
  display: flex;
  justify-content: center;
  width: 100%;
}
.img1{
  background-image: url(images/image.png);
  width:96%;
  background-size: cover;
  /* background-position: center; */
  height: 700px;
  border-radius: 10px;
  align-items: center;
  flex-wrap: wrap;
}
.SectionI{
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  gap: 10px;  
  flex-wrap: wrap;
}
.line{
  width: 100%;
  height: 1px;
  background-color: black;
}
.fee{
  font-size: 35px;
  color: #101010;
  /* width: 200px; */
  margin-top:-1px;
}
.fees{
  font-size: 18px;
  font-weight: 50;
  margin-top: -20px;
}
.Feature-card p{
  font-size: 35px;
  color: #101010;
  font-weight: 550;
  margin-left: 50px;
}
.imgCard{
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.cards{
  background-image: url(images/prepaid-mastercard.webp);
  width: 100%;
  max-width: 350px;
  height: 500px;
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: start;
  align-items: end;
  padding-left: 10px;
  border-radius: 6px;
}

.SP .S{
  color: white;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 0;
  letter-spacing: 1px;
}
.SP .P{
  margin-top: 0;
  color: white;
  font-size: 25px;
}
.hover{
  color: white;
  width: 100%;
  height: 100%;
  background-color: #1010106e;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  transition: 0.5s ease;
  backdrop-filter: blur(20px);
  line-height: 30px;
  font-size: 20px;
}

.hover:hover{
  opacity: 1;
}

.spending{
  font-size: clamp(2rem, 6vw, 7rem);
  margin-left: 45px;
}
.line.active{
  color: transparent;
  margin-top: -20px;
  width: 95%;
  margin-left: 30px;
}
.createA{
  border-color: #101010;
  padding: 4% 8%;
  border-radius: 25px;
  background-color: white;
  border-width: 1px;
  color: #101010;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.5s;
  font-weight: 600;
  font-family:'Courier New', Courier, monospace;
}
.createA:hover{
   background-color: #B0B0B0;
}
.chequeImg{
  background-image: url(images/img.png);
  height: 500px;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  margin-top: 40px;
}

 .checkBig{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  padding: 40px 30px;
  gap: 20px;
  flex-wrap: wrap;
 }

.CQ{
  letter-spacing: 1px;
  margin-bottom: 2;
}
.Fees{
  font-size: clamp(2rem, 4vw, 5rem);
  margin-top: 0;
  margin-bottom: 0.1;
}
.chequeImgA{
  background-image: url(images/homeHeroEvoEvergreenPoster-en-CA.webp);
  width: 600px;
  height: 450px;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
}
.chequeImgB{
  background-image: url(images/Homepage_Hero.webp);
  width: 600px;
  height: 450px;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
}
.chequeImgC{
  background-image: url(images/woman.webp);
  width: 530px;
  height: 480px;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
}
.teamDeet{
  font-size: 16px;
  font-weight: 700;
}
.deetFee p{
  font-size: 19px;
}
.NameC{
  margin-left: 37px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 13px;
  margin-top: -40px;
  margin-bottom: 80px;
}
.BlackDIv{
  background-color: #101010e5;
  height: auto;
  display: flex;
  justify-content:space-between;
  gap: 3px;
  align-items: center;
  padding:90px 20px;
  flex-wrap: wrap;
  width: 100%;
}
.sec1{
  width: 400px;
  height: auto;
  border-radius: 10px;
  padding: 10px;
}
.Ben{
  font-size: 60px;
  color: whitesmoke;
}
.Bring{
  font-size: 20px;
  margin-top: -45px;
  color: whitesmoke;
}
.see{
  padding: 20px 30px;
  color: white;
  border-radius: 50px;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  color:#101010e5 ;
  transition: 0.5s ease;
  margin-top: 5px;
}
.see:hover{
  opacity: 0.86;
}

.sec1.divC{
  background-image: url(images/robin-schreiner-7y4858E8PfA-unsplash.jpg);
  background-position: center;
  background-size: cover;
  height: 450px;
  
  
 
}
.sec1.divD{
  background-image: url(images/matt-gross-9aCkSl6YcXg-unsplash.jpg);
  background-position: center;
  background-size: cover;
  height: 450px;

  
  

}
.Asset{
  background-color: #B0B0B0;
  color: #101010;
  font-size: 13px;
  font-family: 'Courier New', Courier, monospace;
  padding: 8px;
  width: 170px;
  border-radius: 15px;
}
.s{
  color:whitesmoke;
  background-color: #b0b0b02e;
  font-weight: bold;
}
.premiums{
  color: whitesmoke;
  font-size: 30px;
}
.premium{
  color: #101010;
  font-size: 30px;
}
.manas{
  color: whitesmoke;
  font-size: 20px;
}
.mana{
  color: #101010;
  font-size: 20px;
}
.divCC{
  /* display: flex;
  gap: 50px;
  flex-wrap: wrap; */
}
.Mainsec{
  background-color: rgb(252, 245, 236);
  padding: 70px;
  width: 100%;
  text-align: center;
  
}
.Show{
 font-size: clamp(3rem, 6vw, 6rem);
 font-weight: 400;
 font-family:Georgia, 'Times New Roman', Times, serif;
}
.join{
  margin-top: -50px;
  font-size: 24px;
}
.se{
  background-color: #101010;
  padding: 15px 20px;
  color: white;
  border-radius: 50px;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.5s ease;
}
.se:hover{
  opacity: 0.7;
}
.TLDR{
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
  gap: 30px;
  flex-wrap: wrap;
}
.week{
  font-size: 17px;
  font-weight: 100;
}
.divI input{
  padding: 25px 20px;
  width: 75%;
  border: 1px solid gainsboro;
  border-radius: 35px;
  border: 1px solid rgba(128, 128, 128, 0.336);
}
.divI input::placeholder{
  /* font-size: 20px;
  color: #101010; */
}
.meetId{
  margin-left: 20px;
}
hr{
  margin-top: 30px;
  width: 95%;
}
.ALL{
  margin-top: 75px;
  display: flex;
  gap: 20px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.Abotus p{
  font-size: 17px;
  font-family:Arial;
  color:#101010db;
}
.Social{
  display: flex;
  align-items: center;
  gap: 6px;

}
.but{
  padding: 10px 30px;
  width: 100%;
}
#butt{
  padding:  10px 20px;
  border-radius: 20px;
  cursor: pointer;
}

.Bimg{
  background-image: url('images/Premium-Landing-Page-Hero-Mobile__1_.webp'); 
  color: white;
  width: 100%;
  height: 600px; 
  background-position: center;
  background-size: cover;
  position: relative;
  color: white; 
  margin-top: 102px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  text-align: center;
  box-sizing: border-box;
}
.Grow{
   font-size: clamp(3rem, 6vw, 6rem);
   margin-bottom: 0px;
}
.BeA{
  font-size: clamp(1rem, 2vw, 2rem);
}
.Gs{
  padding: 22px 33px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 60px;
  cursor: pointer;
  transition: 0.7s ease;
}
.Gs:hover{
  opacity: 0.9;
}
.Talk{
  padding: 22px 33px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 60px;
  cursor: pointer;
  transition: 0.7s ease;
  background-color: black;
  color: white;
  font-weight: bold;
  border: 1px solid white;
  transition: 0.7s ease;
}
.Talk:hover{

}
.divBlack{
  width: 100%;
  height: auto;
 
}
.Pre{
  color: white;
  font-size: clamp(3rem, 4vw, 5rem);

}
.PButton{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 90px;
  padding-left: 20px;
  padding-right: 20px;
  flex-wrap: wrap;
}
.Viee{
  padding: 22px 33px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 60px;
  cursor: pointer;
  transition: 0.7s ease;
}
.Viee:hover{
  opacity: 0.9;
}

.HigherFull{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  height: 550px;
  gap: 40px;
  padding: 0px 30px;

}
.higherf{
  background-image: url('images/head.png');
  height: 100%;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  
}
.higherg{
  background-image: url('images/Gemini_Generated_Image_ie0wlzie0wlzie0w.png');
  height: 100%;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
}
.Yield{
  font-size: clamp(3rem, 5vw, 5rem);
  margin-top: 40px;
  margin-left: 55px;
  color: white;
  font-weight: 800px;
}
.lower{
  color: white;
  height: 170px;
  font-size: 25px;
  width: 95%;
  padding:10px 30px;
  background-color: #1010106e;
  backdrop-filter: blur(30px);
  margin-left: 20px;
  margin-top: 80px;
  border-radius: 15px;
}
.r{
  margin-top: 155px;
}
.scrollDiv p{
  color: white;
}
.cur p{
  color:white;
}
.aLl p{
  color: white;
}
.Yao{
 font-size: clamp(3rem, 5vw, 5rem);
 margin-bottom: 0;
 margin-left: 25px;
}
.Yaos{
   font-size: clamp(3rem, 5vw, 5rem);
   margin-top: 0;
}
.aLl{
  background-color: white;
  display: flex;
  gap: 29px;
  width: 29%;
  height: 60px;
  padding-left: 30px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
  border-radius: 25px;
}
.cur{
  display: flex;
  justify-content: space-between;
  width: 97%;
  padding: 0px 30px;
  flex-wrap: wrap;
}
.aLl p{
  color: #101010;
}
.A{
  background-color: #101010;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 40px;
  cursor: pointer;
  
}
.A p{
  color: white;
}
.scroll{
  display: grid;
  grid-template-columns: repeat(9,1fr);
  gap: 30px;
  overflow-x: scroll;
  scroll-behavior: smooth;
  padding: 0px 30px;
  flex-wrap: wrap;
}
.scroll::-webkit-scrollbar{
  width: 80px;
  height: 80px;
}
.scrolling{
  min-width: 400px;
  background-image: url('images/womann.png');
  background-position: center;
  background-size: cover;
  height: 470px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  cursor: pointer;
  border-radius: 15px;
}

.UO{
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  font-size: 30px;
  font-weight: 800;
  font-family:monospace;
}
.plus{
  background-color: white;
  color: #101010;
  padding: 4px 12px;
  border-radius: 100%;
}
.s{
  background-image: url('images/bike.png');
}
.a{
  background-image: url('images/bag.png');
}
.d{
  background-image: url('images/headset.png');
}
.c{
  background-image: url('images/globe.png');
}
.f{
  background-image: url('images/laptop.png');
}
.g{
  background-image: url('images/maple.png');
}
.h{
  background-image: url('images/aero.png');
}
.i{
  background-image: url('images/food.png');
}
.ImgT{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 35px;
   padding: 0 25px;
}
.imT{
 background-image: url('images/boyngirl.png');
 background-position: center;
 background-size: cover;
 height: 660px;
 border-radius: 12px;

}
.imTi{
 display: flex;
 flex-direction: column;
 justify-content: center;
  color: white;
}
.Teamup{
  font-size: clamp(3rem, 5vw, 6rem);
  margin-bottom: 0;
}
.combine{
  font-size: 20px;
  line-height: 30px;
  margin-top: 15px;
}
.Upgrade{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
  margin-top: 40px;
  padding: 0 35px;
}
.viisa{
 color: white;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.vissa{
  background-image: url(images/visacard.png);
  background-size:cover;
  background-position: center;
}
.inFi{
  font-size: 18px;
  font-family: monospace;
  margin-bottom: 0;
}
.YC{
  font-size: clamp(3rem, 5vw, 6rem);
  margin-top: 5px;
  margin-bottom: 11px;
}
.WYS{
  margin-bottom: 36px;
  margin-top: 0;
  font-size: 20px;
  line-height: 29px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.premBox{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 30px;
}
.premi{
  background-color: whitesmoke;
  height: 250px;
  padding: 20px 20px;
  border-radius: 20px;
}
.GMT{
  color: white;
  font-size: clamp(3rem, 4.7vw, 6rem);
}
.fund{
  font-size: 15px;
  font-family: monospace;
  background-color:#b0b0b095 ;
  width: 180px;
  padding: 5px 10px;
  border-radius: 20px;
  margin-bottom: 27px;
}
.arrr{
   font-size: clamp(1rem, 3vw, 3rem);
   margin-top: 0;
   margin-bottom: 17px;
}
.most{
  margin-top: 0;
  font-size: 15px;
  font-family: cursive;
  font-weight:4px;
}
.DivGet{
  padding: 0 30px;
  margin-bottom: 10%;
}
.o{
  background-color: rgba(32, 32, 32, 0.989);
  color: white;
}
.u{
  background-color: #101010;
}
.bicycle{
  background-image: url('images/bicycle.png');
  width: 100%;
  height: 700px;
  background-position: center;
  background-size: cover;
}
.BYW{
  color: white;
  font-size: clamp(3rem, 6vw, 6rem);
  font-weight: 500;
  margin-bottom: 20px;
}
.OAA{
  color: white;
  margin-top: 0;
  font-size: 25px;
}
.bicycle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; 
}
.FA{
  display: grid;
  grid-template-columns: repeat(2,1fr);


}
.frequent{
  font-size: clamp(3rem, 6vw, 6rem);
}
.FAQ{
  height: 800px;
  background-color: white;
  padding: 0 40px;
}
.dur{
  display: flex;
  justify-content: space-between;
  font-size: clamp(1rem, 1.8vw, 3rem);
  font-family:'Times New Roman', Times, serif;
  margin-bottom: 0;
}
.b{
  margin-top: 0;
  width: 97%;
}
.sd{
  padding: 90px 50px;
}
.Alll{
  background-color: white;
 padding: 30px 0;
}
.hamB{
  /* display: none; */
}


@media (max-width: 768px){
  .nav1{
    /* display: flex; */
    /* justify-content: space-around; */
  }
  .navL button{
    margin-top: 40px;
    margin-left: 15px;

  }
  .nav1{
    padding-bottom: 10px;
  }
  .navI, .nav2, .navb{
    display: none;
  }
  .ALL{
    gap: 40px;
    padding: 0 25px;
  }
  .AboutUs, .legal, .Account, .Product, .social, .Support{
    width: 100%;
  }
  .Alll{
    margin-top: -210px;
    
  }
  .se{
    width: 95%;
    margin-top: 15px;
  }
  .divI{
    padding: 20px 20px;
  }
  .divI input{
    width: 95%;
  }
  .FAQ{
    padding: 0px 30px;
    margin-top: -650px; 
  }
  .FA{
    grid-template-columns: repeat(1,1fr);
  
  }
  .arrr{
    font-size: 20px;
  }
  .GMT{
    font-size: 30px;
  }

  .viisa{
    width: 100%;
    
  }
  .WYS{
     font-size: 19px;
     margin-top: 0;
  }
  .inFi{
    font-size: 15px;
    margin-bottom: 13px;
  }
  .YC{ 
   font-size: clamp(2rem, 2vw, 6rem);
   font-weight: 700;
   margin-top: 0;
   margin-bottom: 13px;
  }
  .premBox{
    grid-template-columns: repeat(1,1fr);
    gap: 30px;
  }
  .vissa{
    height: 600px;
    margin-top: -100px;
  }
  .Upgrade{
    grid-template-columns: repeat(1,1fr); 
   
    
  }
  .combine{
   font-size:29px;
   margin-bottom:20px;
   width: 100%;
   padding: 10px 8px;
  }
  .ImgT{
    grid-template-columns: repeat(1,1fr);
    margin-top: 80px;
  }
  .aLl{
    width: 100%;
    justify-content: space-around;
    margin-bottom: 40px;
    margin-top: -8px;
  }
  .lower{
    height: 250px;
    margin-left: 0px;
    padding: 11px 30px;
    width: 100%;
    font-size: 20px;
  
  }
  .higherg{
    height: 700px;
  }
  .higherf{
    height: 600px;
  }
  .HigherFull{
    grid-template-columns: repeat(1,1fr);
    height: auto;
  }
  .Pre{
    margin-bottom: 0;
  }
  .Viee{
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .checkBig{
    grid-template-columns: repeat(1,1fr);
  }
 .navIi{
  display: none;
 }
 .sup{
  display: none;
 }
 .navBars{
  gap: 0;
  justify-content: space-between;
 }
 .navb button{
  padding: 10px 15px;
 }
 .navL button{
  padding: 10px 15px;
 }
 .navBars{
  padding: 0px 5px;
 }
 .sectionI{
  padding: 10px 0px;
 }
 .chequeImg{
  width: 360px;
 }
.sec1.divC{
  margin-top: 30px;
}
.sec1.divD{
  margin-top: 30px;
}
.chequeImgA{
  width: 350px;
 }
 .chequeImgB{
  width: 360px;
 }
 .chequeImgC{
  width: 350px;
 }
 .Mainsec{
  padding: 20px;
 }
 .checkSub{
 
 } 
 .chequeImg, .chequeImgA, .chequeImgB, .chequeImgC{
  width: 100%;
 }
 
}