*{
  box-sizing: border-box;
}

body{
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  position: relative;
}
.Bigdiv{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  height: 700px;
  width: 100%;

  
}
.main{
  background-color: rgba(153, 190, 190, 0.201);
  height: auto;
  /* padding-bottom: 200px; */

}
.mainn{
  background-color: rgba(245, 245, 245, 0.525);
  width: 100%;
}
input{
  font-size: 16px;
}
.W{
  font-size: 25px;
  font-weight: 600;
  margin-left: 28px;
  margin-bottom: 70px;
  
}
.HowEver{
  margin-top: -35px;
  font-size: 25px;
  line-height: 40px;

}
.chose{
   font-size: clamp(3rem, 5vw, 5rem);
   margin-top: -10px;
}
.End{
  text-align: center;
}
.Log{
  text-align: center;
  background-color: white;
  height: 450px;
  margin-top: 90px;
  padding-top: 30px;
  width:500px;
  border-radius: 15px;
  border: 1px solid gainsboro;
  box-sizing: border-box;
  margin-bottom: 150px;
  box-shadow: 2px 2px 10px gainsboro;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.wel{
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight:bolder;
  margin-top: -6px;
}
.email input{
  padding: 25px 20px;
  width: 95%;
  border-radius: 15px;
  border: 1px solid gainsboro;
 
}
.email{
  padding: 10px;
}
.For p{
  text-decoration: underline;
  cursor: pointer;
  margin-left: -3px;
  font-size: large;
  font-weight:600 ;
  color:#101010;
}
.For{
  margin-left: -310px;
  margin-top: -9px;
  margin-bottom: 40px;
}
.h{
  border: 1px solid gainsboro;
  margin-bottom: 20px;
}
.log button{
  background-color: #101010;
  padding: 12px 50px;
  color: white;
  border-radius: 50px;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.5s ease;
}

.log button:hover{
   opacity: 0.7;
}
.help{
  display: flex;
  justify-content: space-around;
  gap: 40px;
}
.Download{
  display: flex;
  gap: 30px;
}
.centerr{
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}
  

@media (max-width: 768px){
 .Bigdiv{
  grid-template-columns: repeat(1,1fr);
 }
  .main{
    display: none;
  }
  .Log{
   padding:25px 0;
   height: auto;
  }
  .For p{
    font-size: 30px;
  }
  .For{
    margin-left: 0px;
  }
  .email input::placeholder{
    font-size: 20px;
  }
  .hav{
    font-size: 30px;
  }
  .log button{
    padding: 20px 80px;
    font-size: 25px;
  }
}